<h2>Edit Post</h2>

<div class ="create_post">

<%= form_with model: @new_post, local: true do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message, :maxlength => 1000 %>

  <%= form.submit "Add Post" %>
<% end %>
</div>