// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body_sub {
  margin: 0;
}

.title {
  text-align: center;
  font-family: garamond;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}


.user_interface {
  background-color: burlywood;
  width: fit-content;
  margin: auto;
}

.Sign_Up {
padding: 4px 4px;
border-style: solid;
border-color: pink;
font-size: 2rem;
text-align: center;
}

.log_in {
  padding: 4px 4px;
  text-align: center;
  font-size: 1.5rem;
}